<!doctype html>
<html ng-app="securityGuardGame">
  <head>
    <title>AngularJS Security Guard</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="controllers.js"></script>
  </head>
  <body>
    <div ng-controller="gameState">
    <table>
      <tr><th>Room Name</th><th>Room Index</th><th>Enemies Present</th></tr>
      <tr ng-repeat="room in rooms"><td>{{ room.name }}</td><td>{{ $index }}</td><td><span ng-repeat="enemy in enemies">{{ enemy.name }} </span></td></tr>
    </table>
    </div>
  </body>
</html>
