<!doctype html>
<html ng-app="securityGuardGame">
  <head>
    <title>AngularJS Security Guard</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="controllers.js"></script>
  </head>
  <body>
    <h1>AngularJS Security Guard</h1>

      <div>An attempt to implement game logic similar to Five Nights at Freddy's with AngularJS to practice data binding and views.</div>

    <div ng-controller="gameState">

      <h2>Resources</h2>

      <div>Time: {{ time }}</div>
      <div>Power: {{ power }}</div>

      <h2>Room Status</h2>

      <table>
        <tr>
          <th>Location Index</th>
          <th>View Name</th>
          <th>Location Name</th>
          <th>Enemies Present</th></tr>
        <tr ng-repeat="location in locations">
          <td>{{ $index }}</td>
          <td>{{ location.view }}</td>
          <td>{{ location.name }}</td>
          <td><span ng-repeat="enemy in enemies | filter : enemiesPresent($index)">{{ enemy.name }} </span></td>
        </tr>
      </table>
    </div>
  </body>
</html>
